@import "tailwindcss";

:root {
  --background: #f6f7f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::selection {
  color: white;
  background-color: #FFDE8B;
}

/* Для старых версий Firefox */
::-moz-selection {
  color: white;
  background-color: #FFDE8B;
}

/* Для старых версий Safari/Chrome */
::-webkit-selection {
  color: white;
  background-color: #FFDE8B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f6f7f8;
  }
}

body {
  background: var(--background);
  background: url('../../public/backgrounds/background.svg'), linear-gradient(135deg, rgba(173, 216, 230, 0.5), rgba(0, 0, 255, 0.3));
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.95;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
  height: 100%;
  max-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 !important;
}

body::after {
  content: '';
  position: absolute;
  background-color: #c8c8c83c;
  top: 0;
  min-height: 100%;
  height: 100%;
  right: 0;
  opacity: 1;
  left: 0;
  bottom: 0;
  z-index: -100;
}

.is-desktop .message-current-user {
  margin-top: 1.6rem;
}

.is-desktop .message-another-user {
  margin-top: 0px;
}

@media only screen and (max-width: 1050px) {
  body {
    padding-bottom: calc(1.4rem + env(safe-area-inset-bottom));
  }

  /* .message-list {
    margin-top: 20px;
  } */

  /* .is-mobile .message-list {
    margin-top: calc(2.7rem + env(safe-area-inset-bottom));
  } */

  .is-desktop .message-current-user {
    margin-top: calc(2.7rem + env(safe-area-inset-bottom));
  }

  .is-desktop .message-another-user {
    margin-top: calc(1.3rem + env(safe-area-inset-bottom));
  }

  .is-mobile .message-current-user {
    margin-top: calc(2.7rem + env(safe-area-inset-bottom));
  }

  .is-mobile .message-another-user {
    margin-top: calc(1.3rem + env(safe-area-inset-bottom));
  }
}